//colors
$theme-primary:#66396E;
$theme-colors: (
  "primary":    #0d6efd,
  "secondary":  #6c757d,
  "success":    #198754,
  "info":       #0dcaf0,
  "warning":    #ffc107,
  "danger":     #dc3545,
  "light":      #f8f9fa,
  "dark":       #212529,
  'theme-primary': $theme-primary
);

// BootStrap
$body-bg: #f8fafc;
$offcanvas-horizontal-width: 250px;
// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
//animations
$time-toggle-direction: .75s;

