*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden !important;
}
div{
    box-sizing: border-box;
}
.pointer{
    cursor: pointer;
}
input.readonly {
    background-color: #d6d6d6;
    &:focus{
        background-color: #d6d6d6;
    }
}
