/********************************************LAYOUT AUTH*************************************************/
div#layout-auth{
    position: absolute;
    width: 100%;
    height: 100%;
    div.container-image{
        position: absolute;
        width: 50%;
        height: 100%;
        background-color: RGB(102, 57, 110);
        background-image: url('../../public/img/list.svg');
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
    }
    div.container-body{
        position: absolute;
        right: 0;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}
